<!-- Footer                 		============================================= -->
		<footer id="footer" class="dark">

			<!-- Copyrights			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						<img src="images/footer-logo.png" alt="" class="footer-logo">

						Copyrights &copy;All Rights Reserved by Templaty Inc.
					</div>

				</div>

			</div>
            <!-- #copyrights end -->

		</footer>
        <!-- #footer end -->