<!DOCTYPE html>
<html lang="en-US">
<head>

	{{! <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" /> }}

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="/css/calendar.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Home | Templaty</title>

	<style>

		#header .btn {
			margin: 33px 0 33px 15px;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}
		
		#header.sticky-header .btn { margin: 13px 0 13px 15px; }
		
		@media (max-width: 991px) {
		
			#header .btn {
				position: absolute;
				margin: 0;
				top: 33px;
				left: auto;
				right: 15px;
			}
		
		}
		
		</style>

</head>

<body class="stretched" >

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{{> header}}

		
		<!-- Content 
		=============================================
		{{#user}}
    	<b>{{user.email}}</b>
    	{{/user}}
		 -->
    
        		<section id="slider" class="slider-element slider-parallax" style="background: url('/icons/background.jpg'); background-size: cover;" data-height-xl="670" data-height-lg="500" data-height-md="400" data-height-sm="250" data-height-xs="200">
			<div class="container clearfix">
				<div class="slider-caption slider-caption-left" style="max-width: 700px; padding-bottom: 200px;">
					<h2 style="color: #444 !important;" data-animate="flipInX">Leave Us The Hard Work!</h2>
					<h3 class="d-none d-sm-block" data-animate="flipInX" data-delay="500" style="color: #444;">Creating a Professional CV in the Most Simplest Way</h3>
				</div>
			</div>
		</section>
		{{> footer}}
	</div>
    <!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.js"></script>
/
	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>

</body>
</html>