<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templaty</title>
</head>
<body>
    {{#user}}
    <b>{{user.email}} 123</b>
    {{/user}}
    <h1> This is Hashim from {{ pageTitle }}</h1>
    <a href="/auth/login">login</a>
    <a href="/auth/register">register</a>
    <a href="/auth/logout">logout</a>
</body>
</html>