<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="/css/calendar.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Create | Templaty</title>

	<style>

		#header .btn {
			margin: 33px 0 33px 15px;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}
		
		#header.sticky-header .btn { margin: 13px 0 13px 15px; }
		
		@media (max-width: 991px) {
		
			#header .btn {
				position: absolute;
				margin: 0;
				top: 33px;
				left: auto;
				right: 15px;
			}
		
		}
		
		</style>

</head>

<body class="stretched" >

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{{> header}}

		
		<!-- Content		============================================= -->
		<section>
			<div class="container">
				<div class="row">

					<div class="col-md-4">
						<h1>Choose your resume:</h1>
						<br>
						<h3>Template({{ template.name }})</h3>
					</div>
					<div class="col-md-8">
						<div class="row mx-auto mt-5">
							{{#resumes}}    
								<div class="col-md-4 mt-3">
									<a href="/print/{{ template.name }}/{{ _id }}">
										<div class="card card-primary">
											<div class="card-body">
												<p class="card-text text-center text-uppercase">{{ title }}</p>
											</div>
										</div>
									</a>
								</div>
							{{/resumes }}
						</div>
					</div>
				</div>
			</div>
			
		</section>		

		{{> footer}}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	{{! <script src="/js/jquery.js"></script> }}
	{{! <script src="/js/plugins.js"></script> }}

	<!-- Footer Scripts
	{{! ============================================= --> }}
	{{! <script src="/js/functions.js"></script> }}

	

</body>
</html>
