<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="/css/modern.css">
<link href='//fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<style>
            @media print {
                * {margin:0;padding:0}
                @page {size: A4; margin:0mm;}
            }
        </style>

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		
		<div id="name">
			<h1 class="quickFade delayTwo">{{ resume.personalInfo.name }}</h1>
			<h2 class="quickFade delayThree">{{ resume.personalInfo.job }}</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="{{ resume.personalInfo.email }}" target="_blank">{{ resume.personalInfo.email }}</a></li>
				<li>m: {{ resume.personalInfo.phone }}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>{{ resume.personalDescription.value }}</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
			{{#resume.experience }}
				<article>
					<h2>{{ company}}</h2>
					<p class="subDetails">{{ startDate}} - {{ endDate}}</p>
					<p>{{ title}}</p>
				</article>
				{{/resume.experience }}
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					{{#resume.skills }}
					<li>{{ title }}</li>
					{{/resume.skills }}
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
			{{#resume.education }}
				<article>
					<h2>{{title}}</h2>
					<p class="subDetails">{{ startDate}} - {{ endDate}}</p>
					<p>{{description}}<</p>
				</article>
			{{/resume.education }}
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>

{{! //TODO add window.print() }}
</body>
</html>